﻿@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BlogBsa.Domain.Entity.Tag

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Тег</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
  
    </dl>
</div>
<div>
    <a asp-action="EditTag" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="GetTags">Все теги</a>
</div>
